.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-custom-html-1 {
  margin-bottom: 0;
  width: 100%;
  height: auto;
  min-height: 610px;
}

.u-section-1 .u-custom-html-2 {
  margin-top: 30px;
  margin-bottom: 60px;
  width: 100%;
  height: auto;
  min-height: 610px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-2 {
    width: auto;
  }
}